body {
    font-family: sans-serif;
    max-width: 1440px;
    margin:0 auto;
    background-color: #000000;
}

/* Navigation styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 700;
    color: #ffffff;
    background-color: #000000;
}

.logo {
    font-size: 24px;
    padding: 20px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul>li:nth-child(4) {
    font-weight: normal;
}

.nav-items li {
    list-style-type: none;
    padding: 28px 17px;
}

/* Navigation styles mobile*/
@media screen and (max-width: 768px) {
    header {
        /* display: none; */
        flex-direction: column;
    }

    .nav-items {
        display: none;
    }
}

/* Hero */

#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
}

.hero-content {
    flex-grow: 3;
}

.hero-image {
    width: 250px;
    flex-grow: 1;
}


/* Comparison Chart */

.comparison-chart table {
    margin: 0 auto;
    color: #ffffff;
    text-align: left;
}

.comparison-chart > table > tbody > tr > td {
    text-align: center;
}

.comparison-chart > table > tbody > tr {
    border-bottom: solid 2px #ffffff;
    padding: 16px 10px;
}

