body {
    font-family: sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #000000;
}

/* Navigation styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 700;
    color: #ffffff;
    background-color: #000000;
}

.logo {
    font-size: 24px;
    padding: 20px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul>li:nth-child(4) {
    font-weight: normal;
}

.nav-items li {
    list-style-type: none;
    padding: 28px 17px;
}

/* Navigation styles mobile*/
@media screen and (max-width: 768px) {
    header {
        /* display: none; */
        flex-direction: column;
    }

    .nav-items {
        display: none;
    }
}

main {
    background: #0C0A0C;
}
/* Hero */
#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
}

.hero-content {
    flex-grow: 3;
}

.hero-image {
    width: 250px;
    flex-grow: 1;
}


/* Comparison Chart */
.comparison-chart {
    padding: 70px 30px;
    color: #ffffff;
    border-top: solid 1px #2a2a2a;
}

.comparison-chart h2 {
    font-weight: 700;
    margin-bottom: 8px;
}

.comparison-chart h2,
h3 {
    text-align: center;
}

.comparison-chart h3 {
    max-width: 500px;
    margin: 0 auto;
    font-weight: 400;
}

.comparison-chart table {
    margin: 50px auto;
    text-align: left;
    max-width: 446px;
    color: #ffffff;
}

.comparison-chart>table>tbody>tr>td {
    text-align: center;
}

.comparison-chart>table>tbody>tr {
    border-bottom: solid 2px #ffffff;
    padding: 16px 10px;
    font-weight: normal;
}

.comparison-chart>table>tbody>tr>th {
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    line-height: 24px;
}

.comparison-chart>table>tbody>tr>td,
th {
    padding: 16px 10px;
}


/* Planes Intro */

.planes-intro {
    padding: 70px 30px;
    color: #ffffff;
    border-top: solid 1px #2a2a2a;
    border-bottom: solid 1px #2a2a2a;
}

.planes-intro div h2,
h3 {
    text-align: center;
}

.planes-intro div h3 {
    font-weight: normal;
    max-width: 671px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: normal;
}

.planes-intro .planes-intro-overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
}

.planes-intro .planes-intro-overview h3 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

ul.payment-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul.payment-icons li {
    padding: 5px;
}

ul.checklist {
    list-style: none;
}

ul.checklist li:before {
    content: '✓';
    padding-right: 5px;
}

/* Planes Intro styles mobile*/
@media screen and (max-width: 768px) {
    .planes-intro .planes-intro-overview {
        flex-direction: column;
    }
    
}

/* Cards */

/* FAQ */
section.faq {
    margin: 0 auto;
    max-width: 1200px;
    padding: 70px 30px;
    color: #ffffff;
}

section.faq .faq-entry {
    text-align: center;
}

.faq details {
    font-size: 18px;
    border-bottom: solid 1px #2a2a2a;
}

details[open] summary {
  background: #2a2a2a;
}

.faq details summary {
   font-weight: 700;
   padding: 25px 0;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.faq details summary h4 {
    margin: 0;
    text-decoration: underline;
    padding: 0 10px;
}

.faq details summary span {
    padding: 0 10px;
}


.faq details p {
    padding: 20px;
    background: #0f0e0e;
    margin-top: 0px;
 }

 /* Footer */
footer {
    background-color: #000000;
    color: #ffffff;
}

footer ul {
    color: #ffffff;
    list-style-type: none;
}

footer ul li:hover {
    color: #1DB954;
}